---
layout: default
title: Beers On Tap
---

<!-- Link layout specific css -->
<link rel="stylesheet" href="{{ '/assets/css/beer-list.css' | relative_url }}" />

<h1>Beers On Tap</h1>
<p class="category-description">This is what's currently pouring!</p>

<div>
    {% for beer_file in site.data.beers %} {% assign beer_name = beer_file[0] %} {% assign beer = beer_file[1] %} {% if
    beer.status == "on_tap" %}

    <div class="beer-card-on-tap">
        <div>
            <a href="/beers/{{ beer_name }}/">
                <img class="beer-list-image" src="{{ beer.logo }}" alt="{{ beer.name }}" />
            </a>
        </div>
        <div>
                <h3>{{ beer.name }}</h3>
                <p class="style">{{ beer.style }}</p>
                <p class="description">{{ beer.description }}</p>
        </div>
    </div>

    {% endif %} {% endfor %}
</div>

{% comment %}Show message if no beers on tap{% endcomment %} {% assign on_tap_count = 0 %} {% for beer_file in
site.data.beers %} {% assign beer = beer_file[1] %} {% if beer.status == "on_tap" %} {% assign on_tap_count =
on_tap_count | plus: 1 %} {% endif %} {% endfor %} {% if on_tap_count == 0 %}
<div class="no-beers-message">
    <p>
        No beers currently on tap. Check back soon or visit our <a href="/beers/in-production/">In Production</a> page
        to see what's coming!
    </p>
</div>
{% endif %}
