---
layout: default
title: Beers On Tap
---

<!-- Link layout specific css -->
<link rel="stylesheet" href="{{ '/assets/css/beer-list.css' | relative_url }}" />

<div class="beer-list-page-container">
    <div class=beer-list-title>
        <h1>Beers On Tap</h1>
        <p>This is what's currently pouring!</p>
    </div>

    <div class="beer-list-container">
        {% for beer_file in site.data.beers %} {% assign beer_name = beer_file[0] %} {% assign beer = beer_file[1] %} {% if
        beer.status == "on_tap" %}

        <div class="beer-list-item">
            <div class="beer-list-image-container">
                <a href="/beers/{{ beer_name }}/">
                    <img class="beer-list-image" src="{{ beer.logo }}" alt="{{ beer.name }}" />
                </a>
            </div>
            <div>
                <h3>{{ beer.name }}</h3>
                <h4>{{ beer.style }}</h4>
                <p>{{ beer.description }}</p>
            </div>
        </div>

        {% endif %} {% endfor %}
    </div>
</div>
{% comment %}Show message if no beers on tap{% endcomment %} {% assign on_tap_count = 0 %} {% for
beer_file in site.data.beers %} {% assign beer = beer_file[1] %} {% if beer.status == "on_tap" %} {% assign
on_tap_count = on_tap_count | plus: 1 %} {% endif %} {% endfor %} {% if on_tap_count == 0 %}
<p>No beers are currently on tap. Check back soon!</p>
{% endif %}
