/* Set base font */
body {
    font-family: "Overpass", "Courier New", Courier, monospace;
    font-size: 16px;
    color: #555555; /* Medium Gray */
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

/* Headings */
h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    color: #333333; /* Dark Gray */
    text-transform: uppercase;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    color: #777777; /* Dark Gray */
    text-transform: uppercase;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    color: #777777; /* Dark Gray */
}

h5 {
    font-size: 18px;
    font-weight: bold;
    color: #333333; /* Dark Gray */
}

h6 {
    font-size: 16px;
    font-weight: bold;
    color: #333333; /* Dark Gray */
}

/* Paragraph and general text styling */
p {
    font-size: 16px;
    line-height: 1.5;
    color: #555555; /* Medium Gray */
    margin-bottom: 15px;
    
}


/* Links */
a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

