/* Container for better layout */
.container {
    max-width: 1000px;
    display: inline-flexbox;                /* makes it a flex container */
    flex-direction: column;       /* optional: stacks children vertically */
    justify-content: center;      /* center items vertically inside (if there's height) */
    align-items: center;
    margin: 5px 0 10px  0;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
/* Beer Box Styles */
.beer-box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.beer-image {        
    width: 200px;
    height: 200px;
    border-radius: 8px;
    align-items: center;
}

.beer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

.beer-list-title{

    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333333; /* Dark Gray */
    text-transform: uppercase;
}

.beer-list-style{

    font-size: 16px;
    line-height: 1.5;
    color: #555555; /* Medium Gray */
    margin-top: 0;

}

.beer-list-description{

    font-size: 12px;
    line-height: 1.5;
    color: #555555; /* Medium Gray */
    margin-top: 0;

}

/* === MOBILE  === */
@media screen and (max-width: 768px) {

    .beer-info {
        margin-left: 20px;
    }

    .beer-image {
        width: 120px;
        height: 120px;
    }

    .beer-list-title{
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .beer-list-style{
        font-size: 12px;
    }

    .beer-list-description{
        display: none;
    }
    }

}
