/* Build for desktop first: wrap mobile or small screen content using @media max-width rules */

.beer-detail-page-container {
    margin-left: 100px;
    margin-right: 100px;
}

.beer-header-container {
}

.beer-column-section-title {
    text-align: center;
}

.logo-beer-stats-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.beer-detail-image {
    max-width: 400px;
    border-radius: 10px;
}

.beer-stats-grid {
    display: grid;
    align-content: center;
    row-gap: 15px;
    column-gap: 25px;
    grid-template-columns: 125px 125px;
}

.beer-stat-cell {
    display: flex;
    flex-direction: column;
}

/* Table Styling */
.beer-stat-table-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.beer-stat-table-value {
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    color: #777777; /* Dark Gray */
}

.beer-details {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

/* Mobile responsive styles */
@media (max-width: 768px) {
    .beer-detail-page-container {
        margin-left: 20px;
        margin-right: 20px;
    }
    .beer-header-container {
        text-align: center;
    }

    .beer-detail-description {
        text-align: center;
    }

    .beer-detail-image {
        max-width: 300px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .logo-beer-stats-container {
        flex-direction: column;
        align-items: center;
    }

    .beer-details {
        flex-direction: column;
    }

    .beer-column{
        text-align: center;
    }
}
