/* Desktop styles - DEFAULT */
.beer-list-page-container {
    margin-left: 100px;
    margin-right: 100px;
}

.beer-list-title {
}
.beer-list-image-container {
    margin: 10px;
}

.beer-list-image {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.beer-list-container {
    background-color: white;
}

.beer-list-item {
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    box-shadow: 3px 3px 0 #eeeeee;
}

/* Mobile responsive styles */
@media (max-width: 768px) {

    .beer-list-page-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .beer-list-item {
        flex-direction: column;
        text-align: center;
    }

    /* Center image on mobile */
    .beer-list-image-container {
        align-self: center;
        margin-bottom: 15px;
    }
}
