/* Build for desktop first: wrap mobile or small screen content using @media max-width rules */

.beer-detail-page-container {
    margin-left: 100px;
    margin-right: 100px;
}

.beer-header-container {
}

.logo-beer-stats-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.beer-detail-image {
    max-width: 400px;
    border-radius: 10px;
}

.beer-stats-grid {
    display: grid;
    grid-template-columns: 2;
}

/* Table Styling */
.beer-stat-table-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.beer-stat-table-value {
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    color: #777777; /* Dark Gray */
}

td{
    display: flex;
    flex-direction: column;
}
